html {
  font-size: 10px;
  background: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/69487939_10219797683082117_2208910613864775680_o.jpg?_nc_cat=110&_nc_sid=cdbe9c&_nc_ohc=SdHN-EvrLLEAX8BFR_V&_nc_ht=scontent-dfw5-1.xx&oh=ff453ea9810e688e8b9e2508b378b53d&oe=5EC32069) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
